# Changes here will be overwritten by Copier; NEVER EDIT MANUALLY
_commit: 888a583
_src_path: git@github.com:jwnwilson/hexrepo_project_template.git
description: AI Pet BE
email: jwnwilson@hotmail.co.uk
full_name: Noel
project_name: aipet_be
project_slug: aipet_be
use_api: true
use_api_framework: django-ninja
use_api_type: container
use_db: true
use_db_logic: sql
use_storage: true
use_task: true
use_task_type: container
version: 0.1.0
