# Changes here will be overwritten by Copier; NEVER EDIT MANUALLY
_commit: eaa945d
_src_path: git@github.com:jwnwilson/hexrepo_project_template.git
description: AI pet BE
email: jwnwilson@hotmail.co.uk
full_name: Noel Wilson
project_name: aipet_be
project_slug: aipet_be
use_api: true
use_api_type: container
use_db: true
use_db_logic: sql
use_storage: true
use_task: false
version: 0.1.0
