# Changes here will be overwritten by Copier; NEVER EDIT MANUALLY
_commit: bfc963e
_src_path: git@github.com:jwnwilson/hexrepo_project_template.git
description: Run Backend
email: jwnwilson@hotmail.co.uk
full_name: Noel Wilson
project_name: run_be
project_slug: run_be
use_api: true
use_api_type: container
use_db: true
use_db_logic: sql
use_storage: true
use_task: true
use_task_type: container
version: 0.1.0
