# Changes here will be overwritten by Copier; NEVER EDIT MANUALLY
_commit: a44789e
_src_path: https://github.com/jwnwilson/ninja_project_template.git
description: ''
email: you@example.com
full_name: ''
project_name: job_finder_9000
project_slug: job_finder_9000
use_api: true
use_api_type: container
use_db: true
use_db_logic: sql
use_storage: true
use_task: true
use_task_type: container
version: 0.1.0
