{
    "cloud_provider": [
        "aws"
    ],
    "use_api": "y",
    "use_db": "y",
    "use_cloud": "y",
    "api_domain": "{{ domain }}",
    "use_db_logic": [
        "sql",
        "nosql"
    ],
    "__conditions__": {
        "use_db_logic": "{% raw %}{{ cookiecutter.use_db != 'n' }}{% endraw %}",
        "api_domain": "{% raw %}{{ cookiecutter.use_api != 'n' }}{% endraw %}"
    },
    "__prompts__": {
        "use_api": "Do you want fastapi?",
        "use_db": "Do you want a database?",
        "use_cloud": "Do you want a storage service?",
        "use_db_logic": {
            "__prompt__": "Select the db storage method",
            "sql": "Add Sqlalchemy to project",
            "nosql": "Add NoSQL wrapper to project"
        },
        "api_domain": "Enter domain for project"
    }
}